body {
    background-color: rgb(5, 16, 4);
}

.vikingeat {
    border: 3px solid white;

}

.indexh1 {
        background-color: white;
        background-size: 3000px 1200px;
        background-repeat: no-repeat;
        color: rgb(71, 113, 29);
        text-align: center;
        font-size: 60px;
        margin: 100px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
      
}

ul, a {
    color: white;
    font-size: 24px;
    
}