/* This is the CSS file for pumpkinroll.html */

body {
    background-image: url("file:///Users/lolawright/repos/odin-recipes/recipes/images/pumpkinback.jpg");
    background-size: cover;
    position: relative;
}


/* heading styling */
h1 {
    background-color: rgb(201, 107, 6);
    background-size: 1800px 790px;
    color: rgb(254, 254, 254);
    text-align: center;
    border-radius: 90px;
    font-family: 'Copperplate', sans-serif;
    padding: 35px;
    margin: 40px 100px 90px 100px;
    font-size: 40px;
}


/* h2 styling */
h2 {
    text-shadow: 2px 2px 4px #9c9999;
    font-size: 38px;
    font-family: 'Copperplate', sans-serif;
    text-align: Center;
    color: white;
}

/* image styling */
img {
    height: 530px;
    width: 500px;
    float: left;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 20px double white;
    position: relative;
    right: 20px;
    margin: 10px 100px 130px 90px;
}

/* styling description box */
#desc {
    background-color: rgb(201, 107, 6);
    border-radius: 5px;
    border: 13px outset maroon;
    padding: 40px;
    color: white;
    width: 400px;
    height: 378px;
    position: relative;
    left: 200px;
    font-size: 18px;
    margin: 2px 300px 30px 800px;
}

/* styling all bullet points */
li {
    font-weight: bold;
    font-family: 'Copperplate', sans-serif;
    text-align: center;
    margin: 15px;

}

/* styling 'for the cake' section */
#cake {
    border: 20px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 12px;
    margin: 40px 200px 70px 500px;
    width: 400px;
    height: 440px;
    border: 13px outset maroon;
    background-color: rgb(255, 161, 61);
    display: inline-block;
    font-size: 19px;
}

/* styling for "filling" section */
#filling {
    border: 20px solid white;
    border-radius: 10px;
    margin: 60px 800px 40px 500px;
    padding: 9px;
    width: 400px;
    right: 30px;
    height: 320px;
    text-align: center;
    background-color: rgb(255, 161, 61);
    border: 13px outset maroon;
    font-size: 19px;
    display: inline-block;
}

/* styling the Steps */
#steps {
    font-size: 18px;
    text-align: center;
}