/* This is the CSS file for pumpkinroll.html */

body {
    background-image: url("file:///Users/lolawright/repos/odin-recipes/recipes/images/pumpkinback.jpg");
    background-size: cover;
}


/* heading styling */
h1 {
    background-color: rgb(201, 107, 6);
    background-size: 1800px 790px;
    color: rgb(254, 254, 254);
    text-align: center;
    border-radius: 90px;
    padding: 35px;
    margin: 40px 100px 90px 100px;
    font-size: 50px;
}

/* image styling */
img {
    height: 530px;
    width: 550px;
    float: left;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 20px double white;
    margin: 10px 100px 130px 90px;
}

/* styling description box */
#desc {
    background-color: rgb(201, 107, 6);
    border-radius: 5px;
    border: 13px outset maroon;
    padding: 40px;
    color: white;
    width: 300px;
    height: 350px;
    margin: 2px 300px 30px 800px;
}