/* This is the CSS file for pumpkinroll.html */

body {
    background-image: url("file:///Users/lolawright/repos/odin-recipes/recipes/images/realpumpkin.jpg");
    background-size: cover;
}


/* heading styling */
h1 {
    background-color:rgb(201, 107, 6);
    background-size: 1800px 790px;
    color: rgb(254, 254, 254);
    text-align: center;
    border-radius: 90px;
    padding: 35px;
    margin: 40px 100px 90px 100px;
    font-size: 50px;
}

/* image styling */
img {
    height: 270px;
    width: 290px;
    float: left;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-style: double;
    /* border-color: darkslategray; */
    margin: 60px 100px 130px 30px;
}

/* styling description box */
#desc {
    background-color:rgb(201, 107, 6);
    border-radius: 5px;
    padding: 40px;
    color: white;
    width: 400px;
    margin: 100px 90px 80px 700px;
}