body {
    background-color: navajowhite;
}

.vikingeat {
    border: 3px solid white;

}

.indexh1 {
        background-color: maroon;
        background-size: 1200px 1200px;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        margin: 100px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
      
}