body {
    background-color: navajowhite;
}

.vikingeat {
    border: 3px solid white;

}

.indexh1 {
        background-image: url("background.jpg");
        background-size: 1200px 580px;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        margin: 70px;
        padding-left: 20px;
        padding-right: 40px;
        border-radius: 10px;
      
}