/* This is the CSS file for karekare.html */

body {
    background-color:rgb(205, 137, 88);
}

h1, h2{
    color: rgb(23, 118, 23);    
    background-color: rgb(66, 23, 6);
    background-size: 1800px 790px;
    text-align: center;
    border-radius: 90px;
    font-family: 'Copperplate', sans-serif;
    padding: 25px;
    text-shadow: 2px 2px 5px rgb(219, 255, 227);
    margin: 50px 100px 90px 100px;
    font-size: 48px;
}

/* styling both images */
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 400px;
border: 17px double black;
height: 300px;
border-radius: 10%;
}

/* when hover, flips image */
img:hover {
    transform: scaleX(-1);
  }
  

  /* div for description */
  #desc {
    background-color: rgb(250, 240, 230);
    color: rgb(51, 125, 22);
    border: 8px outset rgb(144, 38, 17);
    border-radius: 20px;
    width: 900px;
    height: 320px;
    left: 200px;
    position: relative;
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 40px;
    }

    